* {
    font-family: Arial,sans-serif;
    font-size: small;
    margin: 0px;
    padding: 2px
}
.menu{
    margin-top:6px;
    height:30px;
    width:100%;
    border: 1px solid black;
    text-align:center;
}
.left{
    float:left;
    width:20%;
    height:450px;
    border: 1px solid black;
}
.right {
    float: left;
    width: 80%;
   height:450px;
   border: 1px solid black;
}
.clr{
    clear:both;
}
.footer {
    border: 1px solid black;
    height: 50px;
    text-align: center;
}